@font-face {
    font-family: 'DS-Digit';
    src: url("./assets/DS-DIGIT.TTF");
}

body {
    background-color: #222831;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
}

main {
    width: 100dvw;
    padding-top: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.container {
    width: 90%;
    min-width: 288px;
    max-width: 864px;
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    z-index: 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    background-color: #FFD369;
    color: #393E46;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.new-task {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

.new-task form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0 1rem;
}

.new-task input[type="text"] {
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 0.75rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}

.btn-transparent {
    padding: 0;
    border: none;
    background-color: transparent;
    height: 3rem;
    aspect-ratio: 1/1 !important;
}

.btn-transparent img {
    height: 100%;
    width: 100%;
}

.list {
    width: 100%;
    color: #000;
    display: grid;
    grid-auto-rows: 100%;
}

.list ul {
    list-style-type: none;
    padding: 0 1rem;
    margin: 0;
}

.task {
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;

    margin-bottom: 1rem;
    padding: 1rem;

    border-radius: 0.75rem;

    cursor: grab;
}

.active-task {
    background-color: #222831;
    color: #fff;
    cursor: grabbing;
}

input[type="checkbox"] {
    accent-color: #FFD369;
    width: 1rem;
    height: 1rem;
}

.done-task {
    text-decoration: line-through;
    text-decoration-color: #222831;
}

.pomodoro-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.modal {
    width: 80%;
    max-width: 576px;
    min-width: 288px;
    background-color: #393E46;
    border-radius: 0.75rem;
}

.modal-header {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD369;
    color: #222831;
    margin-bottom: 1.5rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.modal-header button {
    height: 1rem;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.param {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    text-align: center;
    row-gap: 0.25rem;
}

.param span {
    font-size: 1.5rem;
}

input[type='range'] {
    accent-color: #FFD369;
    cursor: grab;
}

input[type='range']:active {
    cursor: grabbing;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
    padding-bottom: 2rem;
}

.modal-footer button {
    width: 25%;
    min-width: 90px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    text-align: center;
}

.btn-secondary {
    background-color: transparent;
    color: #fff;
    outline: #FFD369 1px solid;

}

.btn-primary {
    background-color: #FFD369;
    color: #222831;
    outline: #222831 1px solid;
}

.timer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 0 1.25rem;
}

#timer {
    font-family: "DS-Digit", 'Open Sans', sans-serif;
    font-size: 6rem;
}

.cycle-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    font-size: 1.25rem;
}


.modal-container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    place-content: center;
    background-color: rgba(39, 39, 39, 0.664);
}


.control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-control {
    height: 2.5rem;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #FFD369;
}

.btn-control img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .modal-footer button {
        width: 40%;
    }

    .btn-secondary {
        display: none;
    }

    .timer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    #timer {
        font-size: 7rem;
    }

    .cycle-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .control-container {
        width: 100%;
    }
}

.hide {
    display: none;
}